---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const name = "Astro"
---

<Layout title="Welcome to Astro.">
	<Card />
	<p>I hope you have a wonderful day!</p>
</Layout>

<style>
	html{
		background: #fff;
	}
</style>